/*----------------
    Global styles 
  ----------------*/
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: #3882f6;
  color: white;
  border: 0;
  padding: 16px 32px;
  border-radius: 10%;
  font-weight: bold;
  font-size: 24px;
}

/*----------------
    Part 1 styles 
  ----------------*/

.part1 {
  background-color: #1f2937;
  padding: 30px 300px;
}

.part1 h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0;
}

.part1 h2 {
  font-size: 24px;
  color: #f9faf8;
  margin: 0;
}

.part1 a, .part1 p {
  font-size: 18px;
  color: #e5e7eb
}

.part1 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.part1 ul {
  display: flex;
  gap: 2rem;
}

.image img {
  max-width: 600px;
}

.container {
  display: flex;
  gap: 1rem;
}

.container-content {
  flex-basis: 550px;
  flex-grow: 1;
  flex-shrink: 1;
}

.image {
  flex-basis: 550px;
  flex-grow: 1;
  flex-shrink: 1;
}

/*----------------
    Part 2 styles 
  ----------------*/

.part2 {
  padding: 40px 250px; 
}

.part2 h2 {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-top: 0;
}

.image-cards {
  display: flex;
  gap: 3rem;
  align-items: stretch;
  justify-content: center;
}

.card {
  flex-basis: 200px;
}

.card img {
  width: 200px;
  height: 136px;
  border: 4px solid rgb(0, 78, 129);
  border-radius: 10%;
}

/*----------------
    Part 3 styles 
  ----------------*/


.part3 {
  background-color: #e5e7eb;
  padding: 100px 340px;
}
  
.quote-container {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937
}

.quote-author {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  text-align: right;
}

